/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.header__primary--main {
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: 4px;
  text-transform: uppercase; }

.header__primary--sub {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.7px; }

.header__secondary--main {
  font-size: 3rem;
  text-transform: uppercase; }

.header__secondary--sub {
  font-size: 1.2rem; }

.header__secondary--source {
  color: #3e3535; }

.to-top--text {
  text-decoration: none;
  color: #3e3535; }

.u-center-text {
  text-align: center; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.api-input {
  margin: 2rem;
  padding: .5rem;
  width: 40rem;
  height: 3rem; }

.api-button {
  padding: .7rem;
  border: 1px solid #3e3535;
  background-color: #3e3535;
  color: #ffeeeb;
  outline: 0; }
  .api-button:hover {
    border: 1px solid #3e3535;
    background-color: white;
    color: #3e3535;
    transition: .3s ease; }

.api__content {
  border: 1px solid #c2c0bf;
  width: 80%;
  margin: 0 auto;
  overflow: hidden; }

.iframely__results {
  padding: 2rem; }
  .iframely__results--image {
    height: 35rem; }
  .iframely__results--icon {
    height: 3rem; }
  .iframely__results--main {
    font-size: 2rem; }
  .iframely__results--sub {
    font-size: 1.6rem; }
  .iframely__results--bottom {
    font-size: 1.4rem;
    padding-right: 1rem;
    padding-left: 1rem; }

.giphy {
  padding: 2rem; }
  .giphy__buttons {
    border: solid grey;
    background-color: #FF4136;
    padding: 10px;
    margin: 3px;
    border-radius: 3px;
    font-size: 16px; }
  .giphy__div {
    float: left;
    margin: 1rem; }

.apinews__first {
  margin-bottom: 4rem;
  padding: 5px;
  border: 1px solid #eee; }
  .apinews__first--title {
    font-size: 1.8rem;
    height: 5rem;
    margin-bottom: 5rem; }
  .apinews__first--author {
    font-size: 1.4rem; }
  .apinews__first--description {
    font-size: 1.2rem;
    height: 10rem; }
  .apinews__first--published {
    height: 2rem; }
  .apinews__first--url {
    height: 2rem; }

.apinews__second {
  margin-bottom: 4rem;
  padding: 5px;
  border: 1px solid #eee; }
  .apinews__second--title {
    font-size: 1.8rem;
    height: 5rem;
    margin-bottom: 5rem; }
  .apinews__second--author {
    font-size: 1.4rem; }
  .apinews__second--description {
    font-size: 1.2rem;
    height: 10rem; }
  .apinews__second--published {
    height: 2rem; }
  .apinews__second--url {
    height: 2rem; }

.apinews__img-dynamic {
  width: 100%;
  height: 20rem; }

.happy-accidents {
  height: 20rem;
  margin-top: 2rem; }

.zomato-results {
  padding: 2rem; }
  .zomato-results--content {
    border: 1px solid #eee;
    padding: 2.5rem;
    margin: 2rem 0; }
    .zomato-results--content-title {
      font-size: 3rem;
      margin-bottom: 2rem; }
    .zomato-results--content-img {
      height: 20rem; }
    .zomato-results--content-cuisine {
      font-size: 1.6rem;
      margin: 1rem; }
    .zomato-results--content-rank {
      font-size: 1.4rem;
      margin: 1rem; }
    .zomato-results--content-address {
      font-size: 1.2rem;
      margin: 1rem; }

.youtube {
  padding: 2rem; }

.dog {
  padding: 2rem; }
  .dog-img {
    height: 30rem; }
  .dog-input {
    margin-bottom: 0; }
  .dog-dropdown {
    border: 1px solid #eee;
    background-color: white;
    width: 40rem;
    margin: 0 2rem;
    list-style: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .dog-dropdown-item {
      padding: 1rem;
      border-bottom: 1px solid #eee;
      font-size: 1.4rem;
      text-align: center; }
      .dog-dropdown-item:hover {
        cursor: pointer; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase; }

.btn--box {
  width: 100%;
  padding: 3rem;
  background-color: #3e3535;
  border-radius: 100px;
  border: 3px solid #ffeeeb;
  color: #ffeeeb;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform .3s ease; }

.btn--box:hover {
  transform: translateY(-3px);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4); }

.btn--box:active {
  transform: translateY(0);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }

.btn--animated {
  transform: all .3s ease; }

.to-top {
  position: fixed;
  top: 90%;
  left: 2rem;
  color: #c2c0bf;
  text-decoration: none; }
  .to-top--img {
    height: 2rem;
    border: 1px solid black;
    border-radius: 100px; }

.row {
  margin: 0 auto;
  max-width: 80%;
  clear: both; }
  .row [class^="col-"] {
    float: left;
    padding: 1rem;
    margin: 3rem 0;
    text-align: center; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }

.header__primary {
  position: relative;
  background-color: #ffa7a0;
  border-bottom: 2px solid #3e3535;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.14); }
  .header__primary--logo {
    position: absolute;
    top: 3rem;
    right: 21rem;
    height: 10rem; }

.section-head {
  background-color: #faaca6;
  height: 40rem; }

.section-api {
  background-color: #f7f7f7;
  margin-top: -5rem;
  padding: 5rem 0; }
