//fonts 
$color-dark-grey: #333;
$color-grey-light-1: #f7f7f7; 
$color-black: #000000;
$color-dark-primary:rgb(62,53,53);
$color-pink-primary: #ffa7a0;
$color-pink-light: #faaca6;
$color-pink-text: #ffeeeb;

$grid-width: 80%;
$gutter-horizontal: 4rem;
$gutter-vertical: 4rem;