.row{
    margin: 0 auto;
    max-width: $grid-width;

    @include clearfix;

    [class^="col-"] {
        float: left;
        padding: 1rem;
        margin: 3rem 0;
        text-align: center;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }
}




