.api {
    &__content {
        border: 1px solid $color-grey-light-2;
        width: $grid-width;
        margin: 0 auto; 
        // height: 60rem;
        overflow: hidden;
    }
}

.iframely {

    &__results {
        padding: 2rem;

        &--image {
            height: 35rem; 
        }

        &--icon {
            height: 3rem;

        }

        &--main {
            font-size: 2rem;
        }

        &--sub {
            font-size: 1.6rem;
        }

        &--bottom {
            font-size: 1.4rem;
            padding-right: 1rem;
            padding-left: 1rem;  
        }
    }
}

.giphy {
    &__buttons {
        border: solid grey;
        background-color: #FF4136;
        padding: 10px;
        margin: 3px;
        border-radius: 3px;
        font-size:16px;
    }

    &__div {
        float: left;
        margin: 1rem;
    }
}

.apinews {
    
}