.api {
    &__content {
        border: 1px solid $color-grey-light-2;
        width: $grid-width;
        margin: 0 auto; 
        overflow: hidden;
    }
}

.iframely {

    &__results {
        padding: 2rem;

        &--image {
            height: 35rem; 
        }

        &--icon {
            height: 3rem;

        }

        &--main {
            font-size: 2rem;
        }

        &--sub {
            font-size: 1.6rem;
        }

        &--bottom {
            font-size: 1.4rem;
            padding-right: 1rem;
            padding-left: 1rem;  
        }
    }
}

.giphy {

    padding: 2rem;


    &__buttons {
        border: solid grey;
        background-color: #FF4136;
        padding: 10px;
        margin: 3px;
        border-radius: 3px;
        font-size:16px;
    }

    &__div {
        float: left;
        margin: 1rem;
    }
}

.apinews {
    &__first {
        margin-bottom: 4rem;
        padding: 5px;
        border: 1px solid #eee;

        &--title {
            font-size: 1.8rem;
            height: 5rem;
            margin-bottom: 5rem;
        }

        &--author{
            font-size: 1.4rem;
        }

        &--description {
            font-size: 1.2rem;
            height: 10rem;
        }

        &--published {
            height: 2rem;
        }

        &--url {
            height: 2rem;
        }
    }
    &__second {
        margin-bottom: 4rem;
        padding: 5px;
        border: 1px solid #eee;

        &--title {
            font-size: 1.8rem;
            height: 5rem;
            margin-bottom: 5rem;
        }

        &--author{
            font-size: 1.4rem;
        }

        &--description {
            font-size: 1.2rem;
            height: 10rem;
        }

        &--published {
            height: 2rem;
        }

        &--url {
            height: 2rem;
        }
    }
    &__img-dynamic {
        width: 100%;
        height: 20rem;
    }


}

.happy-accidents {
    height: 20rem;
    margin-top: 2rem;
}

.zomato-results {
    padding: 2rem;

    &--content {
        border: 1px solid #eee;
        padding: 2.5rem;
        margin: 2rem 0;

        &-title {
            font-size: 3rem;
            margin-bottom: 2rem;

        }

        &-img {
            height: 20rem;
            
        }

        &-cuisine {
            font-size: 1.6rem;
            margin: 1rem;
            
        }

        &-rank {
            font-size: 1.4rem;
            margin: 1rem;
            
        }

        &-address{
            font-size: 1.2rem;
            margin: 1rem;
            
        }
    }
}

.youtube {
    padding: 2rem;
}

.dog {
    padding: 2rem;

    &-img {
        height: 30rem;
    }

    &-input {
        margin-bottom: 0;

        // &:focus ~ .dog-dropdown {
        //     // opacity: 1;
        //     // visibility: visible;
        //     display: block;
        // }

    }

    &-dropdown {
        // opacity: 0;
        // visibility: hidden;
        // display: none;
        border: 1px solid #eee;
        background-color: white;
        width: 40rem; 
        margin: 0 2rem;
        list-style: none; 
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        

        &-item {
             padding: 1rem;
             border-bottom: 1px solid #eee;
             font-size: 1.4rem;
             text-align: center;

             &:hover {
                 cursor: pointer;
             }
        }
    }
}

