.section-head {
    background-color: $color-pink-light;
    height: 40rem;
}

.section-api {
    background-color: $color-grey-light-1;
    padding: 5rem 0;
    @media all and (max-width: 530px) {
        padding: 1rem;
    }
}

.section__back-to-top {
    
}