.section-head {
    background-color: $color-pink-light;
    height: 40rem;
}

.section-api {
    background-color: $color-grey-light-1;
    margin-top: -5rem;
    padding: 5rem 0;
}

.section__back-to-top {
    
}